@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Lato&display=swap");
a {
  text-decoration: none;
  color: inherit;
}

.section {
  padding: 20px;
  background-color: #f0eae6;
}

@media only screen and (max-width: 576px) {
  .section {
    padding: 10px;
  }
}

.body {
  width: 95%;
  margin: auto;
  font-family: "Lato", sans-serif;
}

@media only screen and (max-width: 768px) {
  .body {
    width: 100%;
  }
}

.nav {
  color: white;
  background-color: #2d8e87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.nav__title {
  font-family: "Fascinate Inline", cursive;
  font-size: 3rem;
  margin: 1rem;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0.3rem 0.3rem 0.3rem #000;
}

@media only screen and (max-width: 576px) {
  .nav__title {
    font-size: 1.5rem;
    margin: 0.5rem;
    padding: 0 1rem;
  }
}

.nav__title:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.nav__filter {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav__filter > p {
  margin: 0.8rem 0 0.2rem 0;
}

@media only screen and (max-width: 576px) {
  .nav__filter {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 2rem 0.8rem 2rem;
  }
}

.nav__input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav__input {
  border-radius: 0.5em;
  font-family: "Lato", sans-serif;
  width: 90%;
}

.nav__init-filter {
  margin: 0 0.3rem;
}

.nav__icon-group {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media only screen and (max-width: 576px) {
  .nav__icon-group {
    margin: 1rem 0 0.5rem 0;
  }
}

.nav__icon-group > a {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 576px) {
  .nav__icon-group > a {
    margin-right: 0.2rem;
  }
}

.nav__icon-group:hover {
  -webkit-transform: scale(120%);
          transform: scale(120%);
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.2rem;
}

@media only screen and (max-width: 576px) {
  .dashboard {
    font-size: 1rem;
  }
}

.dashboard__new_task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 0.5em;
  padding: 0.5rem 0 1rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 576px) {
  .dashboard__new_task {
    display: flow-root;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.dashboard__new_task > label {
  margin: 0 1rem;
}

@media only screen and (max-width: 576px) {
  .dashboard__new_task > label {
    width: 80%;
  }
}

.dashboard__input {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  border-radius: 0.5em;
  width: 65vw;
  padding: 0.8rem 0.5rem;
}

@media only screen and (max-width: 576px) {
  .dashboard__input {
    margin-left: 0.5rem;
    width: 80%;
    font-size: 1rem;
  }
}

.dashboard__add {
  margin: 0 1rem;
  font-size: 2rem;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media only screen and (max-width: 576px) {
  .dashboard__add {
    margin: auto;
    font-size: 1.2rem;
  }
}

.dashboard__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.3rem;
}

@media only screen and (max-width: 576px) {
  .dashboard__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.dashboard__text {
  display: inline-block;
  width: 90%;
  background-color: #f3f3ae;
  border: 1px solid black;
  border-radius: 0.5em;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media only screen and (max-width: 768px) {
  .dashboard__text {
    padding: 0.3rem;
  }
}

@media only screen and (max-width: 576px) {
  .dashboard__text {
    width: 100%;
  }
}

.dashboard__text:hover {
  -webkit-transform: scale(103%);
          transform: scale(103%);
}

.dashboard__text--checked {
  background-color: #94f3a4;
}

.dashboard__done {
  color: #2d8e87;
  font-size: 2rem;
  margin-left: 0.5rem;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media only screen and (max-width: 576px) {
  .dashboard__done {
    margin-left: 0.3rem;
    font-size: 1.2rem;
  }
}

.dashboard__del {
  color: red;
  font-size: 2rem;
  margin: 0 0.5rem;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media only screen and (max-width: 576px) {
  .dashboard__del {
    margin: 0 0.3rem;
    font-size: 1.2rem;
  }
}

.dashboard__edit {
  font-size: 2rem;
  margin: 0 0.5rem;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media only screen and (max-width: 576px) {
  .dashboard__edit {
    margin: 0 0.3rem;
    font-size: 1.2rem;
  }
}

.dashboard__add:hover, .dashboard__done:hover, .dashboard__del:hover, .dashboard__edit:hover {
  -webkit-transform: scale(120%);
          transform: scale(120%);
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}
/*# sourceMappingURL=styles.css.map */