@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Lato&display=swap');

// Custom Properties CSS
// Variables definition
$font-title: 'Fascinate Inline', cursive;
$font-main: 'Lato', sans-serif;
$font-size                   : 1.2rem;
$font-size-mobile            : 1rem;
$btn-size                    : 2rem;
$btn-size-mobile             : 1.2rem;
$main-color                  : #f0eae6;
$check-color                 : #94f3a4;
$task-color                  : #f3f3ae;
$border-radius               : 0.5em;
$nav-font-color              : white;
$circle-border-radius        : 50%;
$header-background-color     : #2d8e87;
// Variables for screen size control
$mobile_breakpoint           : 576px;
$tablet_breakpoint           : 768px;
$tablet_landscape_breakpoint : 992px;
$desktop_breakpoint          : 1200px;
$desktop_xl_breakpoint       : 1600px;

//
// Mixin for media query
//
@mixin mobile {
    @media only screen and (max-width: #{$mobile_breakpoint}) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: #{$tablet_breakpoint}) {
        @content;
    }
}

a {
    text-decoration: none;
    color          : inherit;
}

.section {
    padding         : 20px;
    background-color: $main-color;

    @include mobile {
        padding: 10px;
    }
}

.body {

    width      : 95%;
    margin     : auto;
    font-family: $font-main;

    @include tablet {
        width: 100%;
    }
}

.nav {
    color              : $nav-font-color;
    background-color   : $header-background-color;
    display            : flex;
    flex-direction     : row;
    flex-wrap          : wrap;
    justify-content    : space-around;
    align-items        : center;
    transition-duration: 0.2s;

    &__title {
        font-family        : $font-title;
        font-size          : 3rem;
        margin             : 1rem;
        padding            : 0 2rem;
        text-align         : center;
        text-shadow        : 0.3rem 0.3rem 0.3rem #000;

        @include mobile {
            font-size: 1.5rem;
            margin   : 0.5rem;
            padding  : 0 1rem;
        }

    }

    &__title:hover {
        animation                : shake 0.5s;
        animation-iteration-count: infinite;        
    }

    &__filter {
        flex-direction: column;

        &>p {
            margin: 0.8rem 0 0.2rem 0;
        }

        @include mobile {
            width  : 100%;
            display: flex;
            margin : 0 2rem 0.8rem 2rem;
        }
    }

    &__input-group {
        display        : flex;
        justify-content: space-evenly;
        flex-direction : row;
    }

    &__input {
        border-radius: $border-radius;
        font-family  : $font-main;
        width        : 90%;
    }

    &__init-filter {
        margin: 0 0.3rem;
    }

    &__icon-group {

        transition-duration: 0.3s;

        @include mobile {
            margin: 1rem 0 0.5rem 0;
        }
    }

    &__icon-group>a {
        margin-right: 0.5rem;

        @include mobile {
            margin-right: 0.2rem;
        }
    }

    &__icon-group:hover {
        transform: scale(120%);
    }
}

.dashboard {

    display       : flex;
    flex-direction: column;
    font-size     : $font-size;

    @include mobile {
        font-size: $font-size-mobile;
    }

    &__new_task {
        display        : flex;
        flex-direction : row;
        border-radius  : $border-radius;
        padding        : 0.5rem 0 1rem 0;
        align-items    : center;
        justify-content: center;

        @include mobile {
            display       : flow-root;
            flex-direction: column;
        }
    }

    &__new_task>label {
        margin: 0 1rem;

        @include mobile {
            width: 80%;
        }
    }

    &__input {
        font-family  : $font-main;
        font-size    : $font-size;
        border-radius: $border-radius;
        width        : 65vw;
        padding      : 0.8rem 0.5rem;

        @include mobile {
            margin-left: 0.5rem;
            width      : 80%;
            font-size  : $font-size-mobile;
        }
    }

    &__add {
        margin             : 0 1rem;
        font-size          : $btn-size;
        transition-duration: 0.3s;

        @include mobile {
            margin   : auto;
            font-size: $btn-size-mobile;
        }
    }

    &__list {
        flex-direction: column;
    }

    &__item {
        display        : flex;
        flex-direction : row;
        justify-content: space-between;
        margin-top     : 0.3rem;

        @include mobile {
            flex-wrap: wrap;
        }
    }

    &__text {
        display            : inline-block;
        width              : 90%;
        background-color   : $task-color;
        border             : 1px solid black;
        border-radius      : $border-radius;
        padding            : 0.5rem 0.5rem 0.5rem 1.5rem;
        transition-duration: 0.3s;

        @include tablet {
            padding: 0.3rem;
        }

        @include mobile {
            width: 100%;
        }
    }

    &__text:hover {
        transform: scale(103%);
    }

    &__text--checked {
        background-color: $check-color;
    }

    &__done {
        color              : #2d8e87;
        font-size          : $btn-size;
        margin-left        : 0.5rem;
        transition-duration: 0.3s;

        @include mobile {
            margin-left: 0.3rem;
            font-size  : $btn-size-mobile;
        }
    }

    &__del {
        color              : red;
        font-size          : $btn-size;
        margin             : 0 0.5rem;
        transition-duration: 0.3s;

        @include mobile {
            margin   : 0 0.3rem;
            font-size: $btn-size-mobile;
        }
    }

    &__edit {
        font-size          : $btn-size;
        margin             : 0 0.5rem;
        transition-duration: 0.3s;

        @include mobile {
            margin   : 0 0.3rem;
            font-size: $btn-size-mobile;
        }
    }

    &__add:hover,
    &__done:hover,
    &__del:hover,
    &__edit:hover {
        transform: scale(120%);
    }

}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}